body {
    background: white;
    font-family: "Arial", Arial, serif;
    font-size: 14px;
    line-height: 22px;
}

#head {
    height: 30px;
    /*background: dimgray;*/
    display: flex;
    flex-direction: row;


}

#block_1 {
    width: 10%;
    height: 20px;
    background: gray;
    position: relative;
    margin: 5px 5px 5px 0;

}

#block_2 {
    width: 20%;
    height: 20px;
    background: gray;
    position: relative;
    margin: 5px 5px 5px 0;

}

#block_3 {
    width: 70%;
    height: 20px;
    background: gray;
    position: relative;
    margin: 5px 5px 5px 0;

}

hr {
    background-color: darkslateblue; /* Цвет линии для браузера Firefox и Opera */
    height: 4px; /* Толщина линии */
}
/*#container-test {*/
/*    !*border: 1px solid black;*!*/
/*    !*display: flex;*!*/
/*    !*flex-direction: row;*!*/
/*}*/
/* #left-test{*/
/*     background-color: red;*/
/*     width: 30%;*/
/*     float:left;*/
/* }*/
/*#right-test{*/
/*    !*float: left;*!*/
/*    width: 70%;*/
/*    float:right;*/

/*    background-color: green;*/

/*}*/
#content {
    width: 100%;
    height: 60%;
    /*flex-direction: column;*/
    display: flex;
    flex-direction: row;
}

#menu {
    width: 100%;
    background: gray;
    /*margin: 5px 5px 5px 0;*/
}

#block_bottom_menu {
    width: 100%;
    height: 50px;
    background: gray;
    margin: 5px 5px 5px 0;
}
/*нужно прикрепить к низу, хз как*/
p {
    margin-inline-start: 5px;
}

#list {
    list-style-type: square;
}


#menu_1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*padding: 10px 5px 5px 5px;*/
}

#left {
    width: 20%;
    /*margin: 0px;*/
}

#center {
    width: 100%;
    /*margin: 5px 5px 5px 5px;*/
    /*float: right;*/
}
#top_block_center {
    width: 100%;
    height: auto;
    background: lightgray;
    /*margin: 5px 5px 5px 0;*/
    /*flex-wrap: wrap;*/
    float:left;
}

.t_block {
    width: 49%;
    background: lightgray;
    margin: 5px 5px 5px 0;
    /*flex-wrap: wrap;*/
    float:left;
}
#block_center{
    width: 100%;
}

.block_center {
    width: 15%;
    height: 90px;
    background: lightgray;
    margin: 5px 5px 5px 0;
    /*flex-wrap: wrap;*/
    float:left;
}
#bottom_block_center {
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
}
#footer {
    width: 100%;
    height: 180px;
}
.block_footer {
    background: dimgray ;
    width: 32%;
    height: 180px;
    float:left;
    margin: 5px 5px 5px 0;
}
#point {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.point li {
    display: block;
    width:49%;
    float: left;

}

.block_footer_parth3 {
    width: 32%;
    float: left;
    height: inherit;
}

.f-3 {
    background: dimgray ;
    width: 100%;
    height: 44%;
    margin: 5px 5px 5px 10px;
    padding-top: 5px;
    float: left;
}